@import "../../variables.scss";

.header {
    background-color: $primary;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    // gap: 200px;
}

.svgWrapper {
    display: flex;
    gap: 10px;
}

.favoriteWrapper {
    position: relative;
}

.cartWrapper {
    position: relative;
}

.counter {
    position: absolute;
    right: 0;
    bottom: 0;
}