@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import '../../variables.scss';

.button {
    width: 120px;
    height: 40px;
    border: none;
    // border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: $primary;
    cursor: pointer;
}
