@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");
@import "../../variables.scss";
.title {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}

.cardWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.buttonYes {
    width: 120px;
    height: 40px;
    background-color: $secondary;
    border: none;
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buttonNo {
    width: 120px;
    height: 40px;
    background-color: $secondary;
    border: none;
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal {
    width: 300px;
}