@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");
@import "../../variables.scss";

.cardWrapper {
	position: relative;
	width: 250px;
	background-color: $secondary;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: white;
}

.description {
	padding: 10px;
}

.img {
	width: 100%;
}

.wrapper {
	margin: 20px 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price {
	font-style: italic;
	font-weight: 700;
	font-size: 20px;
}

.oldPrice {
	margin-left: -15px;
	text-decoration: line-through;
	font-size: 14px;
	font-weight: 100;
}

.color {
	font-weight: 100;
	font-size: 14px;
}

.svgWrapper {
    position: absolute;
    top: 20px;
    right: 20px;

    &:hover {
        background: radial-gradient(circle, rgba(0, 255, 238, 0.36) 12%, rgba(255, 255, 255, 0) 40%);
    }

    &:hover .svg {
        fill: $primary;
    }
}

.svg {
	fill: $secondary;
}