.modalWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 450px;
    border-radius: 5px;
    padding-bottom: 20px;
}

.modalHeader {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
    color: #fff;
}

.header {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.modalContent {
    padding: 30px 0 20px;
    color: #fff;
}

.close {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}