@import "../../variables.scss";

.modalWrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0%;
    top: 0%;
    // transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    // overflow: hidden;	
}

.modal {
	width: 650px;
	background-color: $background-color;
}

.modalHeader {
	padding: 20px;
	background-color: $primary;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

.header {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
}

.modalContentWrapper {
	display: flex;
	justify-content: center;
	gap: 100px;
	padding: 25px;
}

.modalContent {
	position: relative;
	width: 320px;
	background-color: $secondary;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: white;
}

.close {
	width: 13px;
	height: 13px;
	cursor: pointer;
}

.buttonWrapper {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.wrapper {
	margin: 20px 20px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price {
	font-style: italic;
	font-weight: 700;
	font-size: 20px;
}

.oldPrice {
	margin-left: -15px;
	text-decoration: line-through;
	font-size: 14px;
	font-weight: 100;
}

.img {
	width: 100%;
}

.description {
	padding: 10px;
}