@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");

.title {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}

.cardWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}