@import "../../variables.scss";

.cardWrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 50px;
}

.modalContent {
	position: relative;
	width: 320px;
	background-color: $secondary;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: white;
}

.buttonWrapper {
	display: flex;
	justify-content: center;
	gap: 10px;
	height: max-content;
}

.wrapper {
	margin: 20px 20px 0 0;
	display: flex;
	// justify-content: space-between;
	align-items: center;
}

.price {
	font-style: italic;
	font-weight: 700;
	font-size: 20px;
}

.oldPrice {
	margin-left: 15px;
	text-decoration: line-through;
	font-size: 14px;
	font-weight: 100;
}

.img {
	width: 100%;
}

.description {
	padding: 10px;
}

.buttonGoCart {
    width: 120px;
    height: 40px;
    background-color: $secondary;
    border: none;
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}