@import "../../../variables.scss";

.modalButton {
    width: 120px;
    height: 40px;
    background-color: $secondary;
    border: none;
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.img {
    width: 25px;
    height: 25px;
}