.button-wrapper{
  display: flex;
  justify-content: center;
  gap: 65px;
  margin-bottom: 160px;
}

.open-button{
  max-width: 200px;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.modal-button{
  font-weight: bold;
  cursor: pointer;
  max-width: 100px;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 15px 25px;
  margin-bottom: 20px;
}

.cart-button{
  display: block;
  background: linear-gradient(-45deg, #149efb, #6b3fae);
  width: 200px;
  color: white;
  padding: 10px 18px;
  margin: 40px auto;
  font-size: 18px;
  border-radius: 22px;
  box-shadow: 0 5px 10px rgba(#000, .2);
  cursor: pointer;
}

.cancel-btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
