@import "../../variables.scss";

.wrapper {
    background-color: $primary;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    height: 100%;
    cursor: pointer;
}

.logoLink {
    height: 55px;
}

.svgWrapper {
    display: flex;
    gap: 10px;
}

.favoriteWrapper {
    width: 30px;
    height: 30px;
    position: relative;
}

.favoriteLink:hover svg {
    fill: rgb(93, 218, 210);
}

.cartWrapper {
    width: 30px;
    height: 30px;
    position: relative;

}

.cartLink:hover svg {
    fill: rgb(93, 218, 210);
}

.counter {
    position: absolute;
    right: 0;
    bottom: 0;
}

