.counter {
	width: 15px;
	height: 15px;
	background-color: red;
	border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    color: white;

}
